.Title {
  font-family: helvetica;
  text-align: left;
  font-style: bold;
  color: white;
  font-variant: small-caps;
  font-size:25pt;
}

h2 {
  font-family: helvetica;
  color: white;  
  font-size:15pt
}

h5 {
  font-family: Optima, sans-serif;
  color: white;
  padding: 2;
  margin: 2;
  font-size: 10pt;

}

h4 {
  font-family: Optima, sans-serif;
  color: white;  

}

h6 {
  font-family: Optima, sans-serif;

}

.context {
    font-family: Optima, sans-serif;
    font-size: 15px;

  }
